<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @course.name %></h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li><a href="#">coureA</a></li>
      <li><a href="#">couseB</a></li>
    </ul>
  </div>
</div>

<%= @course.name %>
<%= @course.term %>
<%= @course.price %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@comment, url: course_comment_path(@course)) do |f| %>

      <div class="form-group">
        <%= f.label :content, 'コメント' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>
      

      
      <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>

<%= render 'comments/comments',  comments: @comments %>
<%#= @comments.inspect %>

